script(src="js/jquery-3.6.0.min.js")
script(src="js/jquery-3.4.1.min.js")
script(src="js/bootstrap.bundle.min.js")
script(src="js/wow.min.js")
script.
        new WOW().init();

//- we have to add main.js file after jquery files to force jquery to work well 
script(src="js/main.js") 



