link(rel="stylesheet", href="css/bootstrap.min.css")
link(rel="stylesheet", href="css/animate.css")
link(rel="stylesheet", href="css/main.css")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap")
link(rel="stylesheet",href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap")
link(rel="stylesheet",href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap")
link(rel="stylesheet",href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap")
link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
link(rel="stylesheet",href="https://fonts.googleapis.com/css2?family=Lobster&display=swap")
link(rel="stylesheet",href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap")
link(rel="stylesheet",href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" )


