*{
    box-sizing: border-box;
}
body{
    
}
.page{
    min-height: 100vh;
    .content-area{
        width: calc(100% - 250px);
        transition: 0.3s;
        min-height: 100%;
        float: right;
        will-change: width;
        background-color: rgb(27, 109, 223);
        margin-left: 100px;
        
    }
}