- var pageTitle = 'Charts';
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        //-include style files into html file
        include pug/layout/style
    body
        .page.home-page
            include pug/components/setting-box
            include pug/layout/sidebar
            .content-area 
                include pug/layout/header
                .container-fluid
                    .content
                        include pug/components/page-head
    //-include script files into html file
    include pug/layout/script
